body{
    background-image: url(eatery-sign-restaurant-white-painted-plate-knife-fork-wooden-background-58392329.jpg);
}
.welcome_dhaba{
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin: 30px 30px 30px 20px;
    border: 10px solid crimson;
    border-radius: 44px;
    width: 353px;
    height: 104px;
    padding: 20px;
    background: black;
    
    }
    
    .menu_review{
        font-style: italic;
        font-size: xx-large;
        font-weight: bold;
        color: white;
        margin: -91px 30px 30px 220px;
        border: 10px solid crimson;
        border-radius: 38px;
        width: 444px;
        height: 42px;
        padding-top: 23px;
        padding-right: -14px;
        padding-left: 100px;
        background: black;
        text-align-last: auto;
        position: absolute;

    }
    .contact{
        text-align: center;
        font-style: italic;
        font-size: large;
        font-weight: bold;
        color: white;
        margin: -207px 30px 100px 1095px;
        border: 10px solid crimson;
        border-radius: 44px;
        width: 353px;
        height: 104px;
        padding: 20px;
        background: black;
        line-height: 35px;
    }
    .offer{
        font-weight: bolder;
        font-weight: 900;
        text-align: center;
        text-decoration: underline;
        font-style: italic;
        border: grey solid 10px;
        border-radius: 169px;
        height: 300px;
        width: 300px;
        background: cyan;
        margin: 30px 30px 30px 30px;
    }
    .one{
        padding: 68px;
    }
    .forms{
        border: dashed red 10px;
        height: 300px;
        width: 250px;
    }
    