body{
    background-image: url(eatery-sign-restaurant-white-painted-plate-knife-fork-wooden-background-58392329.jpg);
}
.welcome_dhaba{
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin: 30px 30px 30px 20px;
    border: 10px solid crimson;
    border-radius: 44px;
    width: 353px;
    height: 104px;
    padding: 20px;
    background: black;
    
    }
    
    .menu_review{
        font-style: italic;
        font-size: xx-large;
        font-weight: bold;
        color: white;
        margin: -91px 30px 30px 220px;
        border: 10px solid crimson;
        border-radius: 38px;
        width: 444px;
        height: 42px;
        padding-top: 23px;
        padding-right: -14px;
        padding-left: 100px;
        background: black;
        text-align-last: auto;
        position: absolute;

    }
    .contact{
        text-align: center;
        font-style: italic;
        font-size: large;
        font-weight: bold;
        color: white;
        margin: -207px 30px 100px 1095px;
        border: 10px solid crimson;
        border-radius: 44px;
        width: 333px;
        height: 89px;
        padding: 20px;
        background: black;
        line-height: 35px;
    }
    /* .offer{
        font-weight: bolder;
        font-weight: 900;
        text-align: center;
        text-decoration: underline;
        font-style: italic;
        border: grey solid 10px;
        border-radius: 169px;
        height: 300px;
        width: 300px;
        background: cyan;
        margin: 30px 30px 30px 30px;
    } */
    /* .one{
        padding: 68px;
    } */
    .thali{
        padding-top: 52px;
        /* padding: 22px; */
        font-weight: bolder;
        text-align: center;
        text-decoration: underline;
        font-style: italic;
        border: grey solid 4px;
        border-radius: 157px;
        height: 216px;
        width: 266px;
        background: cyan;
        margin: 84px;
        position: relative;
    }
    .forms{
        position: absolute;
        right: 430px;
        top: 216px;
        border: dashed red 6px;
        height: 608px;
        width: 320px;
        background: white;
        color: crimson;
        margin: 2px -79px 2px 2px;
        padding: 10px 5px 2px 4px;
        text-align: center;
    }
    .two{
        height: 50px;
    border: 10px solid crimson;
    background: black;
    color: white;
    border-radius: 28px;
    width: 402px;
    text-align: center;
    font-style: italic;
    font-size: bold;
    padding-top: 15px;
    position: absolute;
    right: 546px;
    top: 851px;
}
.menu{
    font-size: large;
    height: 264px;
    width: 270px;
    display: inline-block;
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    border-radius: 20px;
    color: rebeccapurple;
    margin-top: 424px;
    margin-right: 120px;
}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.parent1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu1{
    font-size: large;
    height: 264px;
    width: 270px;
    display: inline-block;
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    border-radius: 20px;
    color: rebeccapurple;
    margin-top: 59px;
    margin-right: 120px;
}
.menu2{
    font-size: large;
    height: 294px;
    width: 270px;
    display: inline-block;
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    border-radius: 20px;
    color: rebeccapurple;
    margin-top: 59px;
    margin-right: 120px;
}
/* .s1{
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    position: absolute;
    top: 925px;
    border-radius: 20px;
    width: 250px;
    color: rebeccapurple; */
/* .s1{
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    position: absolute;
    top: 925px;
    border-radius: 20px;
    width: 250px;
    color: rebeccapurple;
}
.s1{
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    position: absolute;
    top: 925px;
    border-radius: 20px;
    width: 250px;
    color: rebeccapurple;
} */
/* .s1{
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    position: absolute;
    top: 925px;
    border-radius: 20px;
    width: 250px;
    color: rebeccapurple;
}
.s1{
    text-align: center;
    border: 5px solid;
    border-color: green;
    background-color: cyan;
    position: absolute;
    top: 925px;
    border-radius: 20px;
    width: 250px;
    color: rebeccapurple; */